<div class="center-content">
  <mat-card appElevation class="inline-block pointer" (click)="goToEstudiantes()">
    <mat-card-header>
      <mat-card-title>Estudiantes</mat-card-title>
    </mat-card-header>
    <img class="same-size-img" mat-card-image src="./assets/Estudiantes.jpg" alt="asignaturas">
    <mat-card-content>
      <p>
        Modulo de Gestión de Estudiantes
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card appElevation class="inline-block pointer" (click)="goToAsignatura()">
    <mat-card-header>
      <mat-card-title>Asignaturas</mat-card-title>
    </mat-card-header>
    <img class="same-size-img" mat-card-image src="./assets/Asignatura.jpg" alt="asignaturas">
    <mat-card-content>
      <p>
        Modulo de Gestión de Asignaturas
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card appElevation class="inline-block pointer" (click)="goToCursos()">
    <mat-card-header>
      <mat-card-title>Cursos</mat-card-title>
    </mat-card-header>
    <img class="same-size-img" mat-card-image src="./assets/Curso.jpg" alt="asignaturas">
    <mat-card-content>
      <p>
        Modulo de Asignación de Cursos
      </p>
    </mat-card-content>
  </mat-card>
</div>
